body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    direction: rtl;
}

body {
    font-weight: normal;
    background: #f9fafb;
    color: #4b5563;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */

.bgimg-1 {
    background-image: url('assets/כולל.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */

.bgimg-2 {
    background-image: url("assets/301.jpeg");
    min-height: 600px;
}

/* Third image (Contact) */

.bgimg-3 {
    background-image: url("assets/303.jpeg");
    min-height: 600px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.w3-bar-item.w3-button {
    float: right;
    color: black;
    i {
        padding-left: 5px;
    }
}

.w3-quarter.w3-section {
    float: right;
}

.w3-bar {
    float: right;
}

.w3-bar-block .w3-bar-item {
    text-align: right;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}
